.leftNavBar {
  background-color: #2e4a56;
  width: 16%;
  height: 100vh
}

p {
  margin: 0px;
}

#productLogo {
  height: 45px;
  padding: 20px;
  margin-top: 5px;
  height:2vw
}

.logo {
  border-bottom: 1px solid #ffffffaf;
  display: flex;
  justify-content: center;
}

.mainMenuText {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 30px 40px;
  cursor: pointer;
}

.d-flex {
  display: flex
}


.singleItem {
  padding: 16px 35px;
  cursor: pointer;
}

.singleItemActive {
  padding: 16px 35px;
  background-color: #2b383e;
  border-right: 7px solid #0eccff;
  cursor: pointer;
}

.menuName {
  padding-left: 5px;
  color: #ffffff;
  font-weight: 500;
  font-size: 17px;
}

.menuNameActive {
  padding-left: 5px;
  color: #0eccff;
  font-weight: 500;
  font-size: 17px;
}

.menuIcon {
  color: #ffffff;
}

.menuIconActive {
  color: #0eccff;
}

.d-event {
  display: flex;
  justify-content: space-between;
}

.downIcon {
  color: #fff;
  margin: 15px;
}

.page {
  background: #f9f9f9;
  width: 84%;
}

.topBar {
  background: #ffffff;
  display: flex;
  justify-content: right;
}

.singleIcon {
  height: 35px;
  margin-left: 15px;
  padding: 10px 0px;
}

.userProfile {
  margin-left: 15px;
  border-left: 3px solid rgba(0, 0, 0, 0.171);
  padding: 0px 20px;
  cursor: pointer;
}

.person {
  height: 45px;
  padding: 10px 0px;
  padding-right: 10px;
}

.userProfile h5 {
  margin: 0px;
  margin-top: 15px;
  font-size: 17px;
}

.userProfile p {
  margin: 0px;
  font-size: 13px;
  text-align: center;
  margin-top: -3px;
  opacity: 0.7
}